@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Nunito+Sans:wght@300&display=swap');

header { 
    font-family: fasthand, cursive;
}

body {
    font-family: nunito sans, sans-serif;
    background-color: black;
    color: azure;
}