@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Nunito+Sans:wght@300&display=swap');


body {
    font-family: nunito sans, sans-serif;
    background-color: rgb(26, 24, 24);
    color: azure;
    font-size: 130%;
    text-align: center;
    line-height: 35px;
}

.body-padding {
    padding-left: 200px;
    padding-right: 200px;
    }

#pet {
    margin-bottom: 200px;
}

/* logo and nav links */ 

#logo { 
    font-family: fasthand, cursive;
    font-size: 300%;
    color: antiquewhite;
    float: left;
    padding-left: 30px;
}

#logo:hover {
    transform: translateY(-10px);
}

h1, h2 { 
    color: antiquewhite;
}

#nav, #logo {
    line-height: 50px;
}
#nav {
    color:antiquewhite;
    font-size: 120%;
    letter-spacing: 4px;
    text-align: center;
    text-decoration: none;
    transition: all 2s ease-out;
}

#nav a:hover,
#nav a:focus {
  background-color: white;
  color: rgb(26, 24, 24);
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

a { 
    text-decoration: none;
    color:antiquewhite;
}

a:hover {
    border-bottom: 1px solid antiquewhite;
}

#logo a:hover {
    border-bottom: 1px antiquewhite;
}

/* hero image */

.hero-image {
    height: 600px;
    background: url('../images/timothy-dykes-2\(1\).jpg') no-repeat center center;
    width: 100%;
    background-size: cover;
}

#spider1 {
    border-radius: 50%;
    height: 550px;
    width: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Sightings */

#feasting-spooder { 
    margin-bottom: 200px
}




/* pros and cons allignment */

.pros-cons {
    float: left;
    width: 50%;
    text-align: left;
    margin-bottom: 200px
}
.pro-con-titles { 
    text-align: center;
}

/* Fun Facts */

#spooder-legs {
    margin-bottom: 200px
}

/* Pet-Care */

#habitat {
    width: 50%;
    text-align: left;
    float: left;
    margin: 2%;
}

#enclosure { 
    text-align: right;
    padding-top: 20px;
    margin: 2%;
}

#food-water-care li {
    list-style-type: none;
}

#food-water-care h1 {
    padding-left: 50px;
}

#contents {
    text-align: left;
    padding-left: 12%;
}

#cost-table {
    padding-left: 33%;
    padding-bottom: 8%;
}

table, th, td {
    border: 1.5px solid antiquewhite;
    border-collapse: collapse;
    padding: 5%;
}

tr:hover {background-color: #656666;}

/* Sign Up */

#sign-up { 
    padding-bottom: 100px;
}

.text-input { 
    background: transparent;
    color: #fafafa;
    height: 23px;
    margin: 5px 0 12px 0;
    border: 1px solid #fafafa;
    }

    
.text-input:hover { border-color: #817f7f;
    }


.join-button:hover {
        background-color: antiquewhite;
        color: #131111;
    }

#signup_image {
    background-image: url('../images/pexels-chase-mcbride-3731977.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
}
/* Footer */

footer { 
    text-align: center;
    color: antiquewhite;
    width: 100%;
    background-color: rgb(44, 44, 44);
    left: 0;
    bottom: 0;
    position: fixed;
}

.social-media {
    text-align: center;
    padding-right: 460px;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 190%;
    margin: 1%;
    color: antiquewhite;
    padding: 0;
}

.social-media i:hover {
    transform: translateY(-10px);
}

#footer-logo { 
    text-align: left;
    float: left;
    padding-left: 70px;
    padding-top: 15px;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    hr { display: none;}
    #spider1 { width: 50% ;
        height: 70%; }

}


/* For medium screen sizes from 950px and down */
@media screen and (max-width: 950px) { 
    #spider1 { width: 60% ;
    height: 80%;}
}



/*For small screen sizes 800px and down*/
@media screen and (max-width: 800px) {
    body {
        font-size: 14px;
        text-align: left;
        float: left;
    }

    .footer {
        padding: 20px 10px;
        font-size: 14px;
    }
    #spider1 {
        height:200px;
        width: 300px;
    }
    .logo img {
        max-width: 150px;
    }
}