@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Nunito+Sans:wght@300&display=swap');


body {
    font-family: nunito sans, sans-serif;
    background-color: rgb(26, 24, 24);
    color: azure;
    font-size: larger;
    text-align: center;
    line-height: 35px;
}

.body-padding {
    padding-left: 200px;
    padding-right: 200px;
    }

/* logo and nav links */ 

#logo { 
    font-family: fasthand, cursive;
    font-size: 300%;
    color: antiquewhite;
    float: left;
}

h1, h2 { 
    color: antiquewhite;
}

#nav, #logo {
    line-height: 50px;
}
#nav {
    color:antiquewhite;
    font-size: 120%;
    letter-spacing: 4px;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav a { 
    text-decoration: none;
    color:antiquewhite;
}

#nav a:hover {
    border-bottom: 1px solid antiquewhite;
}

#logo a:hover {
    border-bottom: 1px antiquewhite;
}

/* hero image */

.hero-image {
    height: 463px;
    background: url('../images/gary-yost-a32PhZjnDnI-unsplash.jpg') no-repeat center center;
    width: 100%;
}

/* pros and cons allignment */

#pros {
    padding-left: 1000px;
}

#cons {
    padding-right: 1000px;
}
/* Footer */

footer { 
    text-align: center;
    color: antiquewhite;
    height: 150px
}

